@import "base/typography";

@import "utils/placeholder";
@import "utils/variables";

@import "components/buttons";
@import "components/cards";
@import "components/navigation";

@import "layout/footer";
@import "layout/header";
@import "layout/ordermenu";

@import "pages/home";
@import "pages/restaurants";

html, body{
    height: 100vh;
}
body{ 
    margin: 0px; 
    padding: 0px; 

    background: $white-sd;
}