@use "../utils/" as *;

footer{
    display: flex;
    flex-flow: column;

    gap: 16px;

    padding: 25px 22px 22px 25px;

    background: color(grey);

    ul{
        display: flex;
        justify-content: flex-start;
        flex-flow: column;

        gap: 7px;

        margin: 0;
        padding: 0;

        list-style: none;

        li{
            display: flex;
            align-items: baseline;

            gap: 17px;
            
            @include typography(roboto, normal, medium, mediumTextLH, white);

            &:nth-child(n + 3){
                font-weight: 400;
            }
        }
    }
}