footer{
    display: flex;
    align-items: flex-start;
    flex-flow: column;

    gap: 16px;

    padding: 25px 22px 22px 25px;

    background: $grey;
    color: $white;

    ul{
        display: flex;
        justify-content: flex-start;
        flex-flow: column;

        gap: 7px;

        margin: 0;
        padding: 0;

        list-style: none;

        li{
            display: flex;
            align-items: baseline;

            gap: 17px;

            font-family: Roboto;
            font-size: 16px;
            font-weight: 500;
            line-height: 19px;
            letter-spacing: 0em;

            &:nth-child(n + 3){
                font-weight: 400;
            }
        }
    }

    @include breakpoints(mobile){

    }

    /*@include breakpoints(tablet){
        flex-flow: row-reverse;
        justify-content: baseline;
        align-items: center;

        gap: 90px;
        
        padding: 64px 50px 30px 0px;

        ul {
            flex-direction: row;

            li{
                gap: 11px;
            }
        }
    }*/

    @include breakpoints(desktop){

    }
}