@use "../utils" as *;

.container{
    display: grid;
    grid-template-columns: 17px 1fr 17px;
    grid-template-rows: 1fr auto;

    position: relative;

    @include breakpoints(desktop){
        grid-template-columns: minmax(17px, 1fr) minmax(17px, 1080px) minmax(17px, 1fr);
    }
}

.containerRestaurant{
    display: grid;
    grid-template-columns: 1fr minmax(17px, 1fr) minmax(auto, 634px) minmax(17px, 1fr) 1fr;
    grid-template-rows: 1fr auto;

    position: relative;
    z-index: 1;

    row-gap: 40px;

    margin-top: -50px;
    padding: 31px 0px 40px 0px;

    border-radius: 40px 40px 0px 0px;
    background: color(white-sd);


    @include breakpoints(tablet){

        padding: 0px 0px 40px 0px;

        grid-template-columns: minmax(17px, 1fr) minmax(17px, 211px) minmax(auto, 634px) minmax(17px, 211px) minmax(17px, 1fr);

        border-radius: inherit;
        background: color(white);
    &::before{

        grid-column: 2/5;

        content: "";
        position: absolute;
        z-index: -1;
        
        top: 0;
        left: 0;

        margin-top: -50px;

        width: 100%;
        height: calc(100% + 50px);

        background: color(white-sd);
        border-radius: 40px 40px 0px 0px;
    }
    }
}