@use "../utils/" as *;

header{
    display: flex;
    flex-direction: column;

    background: color(white);
    p{
        display: flex;
        justify-content: center;
        align-items: center;

        gap: 17px;
        
        padding: 15px 0px 15px 0px;

        width: 100%;

        @include typography(roboto, normal, medium, extraMediumTextLH, grey);

        background: color(grey-sm);
    }
}