@use "../utils/" as *;

header{
    display: flex;
    flex-direction: column;

    background: color(white);

    p{
        display: flex;
        justify-content: center;
        align-items: center;

        gap: 17px;
        
        padding: 15px 0px 15px 0px;

        width: 100%;

        font-family: Roboto;
        font-size: 16px;
        font-weight: 500;
        line-height: 19px;
        letter-spacing: 0em;

        background: color(grey-sm);
    }
}