@use "../utils/" as *;

.loader{
    z-index: 100;
    position: fixed;

    width: 100%;
    height: 100vh;


    background: linear-gradient(193deg, color(purple) -11.44%, color(pink) 123.93%);

    animation: loader 1s forwards;

    &__container{
        position: relative;

        display: flex;
        align-items: center;
        justify-content: center;

        height: 100%;

        &__logo{
            display: flex;
            align-items: center;
            justify-content: center;

            position: relative;

            width: 200px;
            height: 40px;

            background-image: url("../../assets/images/logo/ohmyfood.png");
            background-repeat: no-repeat;
            background-size:contain;
            filter: invert(100%);

            &::before{
                content: "";
                position: absolute;
                
                width: 280px;
                height: 280px;

                border-radius: 50%;
                border: 7px solid transparent;
                border-top-color: #000;
                animation: spinning 800ms linear infinite;
            }

            &::after{
                content: "";
                position: absolute;
                
                width: 250px;
                height: 250px;

                border-radius: 50%;
                border: 7px solid transparent;
                border-top-color: #000;

                animation: spinning 900ms linear reverse infinite;
            }
        }
    }
    
}