@use "../utils" as*;

.btn{
    display: block;

    padding: 13px 23px 13px 23px;

    border-radius: 25px;

    @include typography (roboto, normal, medium, mediumTextLH, white);
    text-align: center;

    background: linear-gradient(193.33deg, color(purple) -11.44%, color(pink) 123.93%);
    color: color(white);

    box-shadow: 0px 4px 10px 0px rgba(0,0,0, 0.25);

    transition: background 300ms, box-shadow 300ms;
    
    &:hover{
        background: linear-gradient(200.64deg, color(purple) -5.2%, color(pink) 110.74%), linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15));
        box-shadow: 0px 4px 15px 0px rgba(0,0,0, 0.35);
    }
}