@use "../utils" as *;

.cards{
    grid-column: 2/3;
    grid-row: 2/3;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;

    grid-row-gap: 18px;

    width: 100%;

    .card{
        position: relative;

        box-sizing: border-box;
        border-radius: 15px;

        background: color(white);
        
            &:nth-of-type(1)::before, &:nth-of-type(2)::before{
                content: "Nouveau";
                position: absolute;
                top: 0;
                right: 0;
                
                margin-top: 13px;
                margin-right: 12px;
                padding: 7px 9.63px 6px 9px;
                
                background: #99E2D0;
                color: #008766;
                
                @include typography(roboto, extraSmall, normal, smallTextLH, green);
            }

        &__img{
            width: 100%;
            height: 174px;

            object-fit: cover;
            
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
        }

        &__content{
            
            position: relative;

            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-direction: column;

            gap: 5px;
            
            padding: 16px 25px 16px 13px;

            span{
                @include typography(roboto, medium, bold, largeTextLH, dark);
            }

            p{
                @include typography(roboto, extraNormal, light, extraMediumTextLH, dark);
            }

            svg{
                z-index: 2;
                position: absolute;
                align-self: flex-end;

                height: 24px;

                cursor: pointer;

                & > *{
                    
                    fill: none;
                    stroke: black;

                    &:hover{
                        fill: purple;
                    }
                }
            }

            
        }

        &:hover span{
            text-decoration: underline;
        }
    }

    @include breakpoints(tablet){
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 25px;
        grid-column-gap: 50px;
    }

    @include breakpoints(desktop){
        
        grid-row: 2/3;

        grid-row-gap: 50px;
        grid-column-gap: 100px;
    }
}