@use "../utils/" as *;

nav{
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: 0px 2px 4px 0px rgba(#000026, 0.15);

    padding: 0px 17px;

    a{
        position: absolute;
        
        display: flex;
        align-items: center;

        left: 17px;

        ::before{
            content: "../../assets/images/";
        }
    }

    img{
        max-height: 36px;
        padding: 12px 0px 8px 0px;
    }
}