@use "../utils" as *;

*{
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar{
    display: none;
}

body{
    background: color(white-sd);
}

h1{
    text-align: center;
}

h1, h2{
    @include typography(roboto, smallTitle, bold, titleHomeLH, dark)
}


.Title{
    font-family: Shrikhand;
    font-size: 30px;
    font-style: italic;
    font-weight: 400;
    line-height: 44px;
    letter-spacing: 0em;
}

a{
    color: color(white);
    text-decoration: none;
}