@keyframes animationFade {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  50% {
    opacity: 1;
    transform: translateX(-5%);
  }
  100% {
    transform: translateX(0);
    transform: translateY(1%);
  }
}
@keyframes spinning {
  from {
    transform: rotate(360deg);
    opacity: 1;
  }
  to {
    transform: rotate(0deg);
    opacity: 0.3;
  }
}
@keyframes loader {
  20% {
    display: initial;
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    display: none;
    opacity: 0;
  }
}
* {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  display: none;
}

body {
  position: relative;
}

h1 {
  text-align: center;
}

h1, h2 {
  font-family: "roboto";
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: #000;
}

a {
  color: #FFFFFF;
  text-decoration: none;
}
a :visited {
  text-decoration: none;
}

li {
  list-style: none;
}

.btn {
  display: block;
  padding: 16px 25px;
  border-radius: 25px;
  font-family: "roboto";
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  color: #FFFFFF;
  text-align: center;
  background: linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%);
  color: #FFFFFF;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  transition: background 300ms, box-shadow 300ms;
}
.btn:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(201deg, #9356DC -5.2%, #FF79DA 110.74%);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
}

.cards {
  grid-column: 2/3;
  grid-row: 2/3;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-row-gap: 18px;
  width: 100%;
}
.cards .card {
  position: relative;
  box-sizing: border-box;
  border-radius: 15px;
  background: #FFFFFF;
}
.cards .card:nth-of-type(1)::before, .cards .card:nth-of-type(2)::before {
  content: "Nouveau";
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 13px;
  margin-right: 12px;
  padding: 7px 9.63px 6px 9px;
  background: #99E2D0;
  color: #008766;
  font-family: "roboto";
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #008766;
}
.cards .card__img {
  width: 100%;
  height: 174px;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.cards .card__content {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 5px;
  padding: 16px 25px 16px 13px;
}
.cards .card__content span {
  font-family: "roboto";
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  color: #000;
}
.cards .card__content p {
  font-family: "roboto";
  font-size: 17px;
  font-weight: 300;
  line-height: 19px;
  color: #000;
}
.cards .card__content svg {
  position: absolute;
  align-self: flex-end;
  height: 24px;
  cursor: pointer;
}
.cards .card:hover span {
  text-decoration: underline;
}
@media only screen and (min-width: 768px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 25px;
    grid-column-gap: 50px;
  }
}
@media only screen and (min-width: 1024px) {
  .cards {
    grid-row: 2/3;
    grid-row-gap: 50px;
    grid-column-gap: 100px;
  }
}

.cardsMenuList {
  grid-row: auto;
  grid-column: 3/4;
  display: flex;
  flex-flow: column;
  gap: 12px;
}
.cardsMenuList:nth-child(2) h3 {
  animation-delay: 1.3s;
}
.cardsMenuList:nth-child(2) ul > :nth-child(1) {
  animation-delay: 1.4s;
}
.cardsMenuList:nth-child(2) ul > :nth-child(2) {
  animation-delay: 1.5s;
}
.cardsMenuList:nth-child(2) ul > :nth-child(3) {
  animation-delay: 1.6s;
}
.cardsMenuList:nth-child(2) ul > :nth-child(4) {
  animation-delay: 1.7s;
}
.cardsMenuList:nth-child(3) h3 {
  animation-delay: 1.8s;
}
.cardsMenuList:nth-child(3) ul > :nth-child(1) {
  animation-delay: 1.9s;
}
.cardsMenuList:nth-child(3) ul > :nth-child(2) {
  animation-delay: 2s;
}
.cardsMenuList:nth-child(3) ul > :nth-child(3) {
  animation-delay: 2.1s;
}
.cardsMenuList:nth-child(3) ul > :nth-child(4) {
  animation-delay: 2.2s;
}
.cardsMenuList:nth-child(4) h3 {
  animation-delay: 2.3s;
}
.cardsMenuList:nth-child(4) ul > :nth-child(1) {
  animation-delay: 2.4s;
}
.cardsMenuList:nth-child(4) ul > :nth-child(2) {
  animation-delay: 2.5s;
}
.cardsMenuList:nth-child(4) ul > :nth-child(3) {
  animation-delay: 2.6s;
}
.cardsMenuList:nth-child(4) ul > :nth-child(4) {
  animation-delay: 2.7s;
}
.cardsMenuList__title {
  position: relative;
  height: 27px;
  font-family: "roboto";
  font-size: 16px;
  font-weight: 300;
  line-height: 18px;
  color: #000;
  text-transform: uppercase;
  animation: animationFade 0.3s backwards;
}
.cardsMenuList__title::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 40px;
  height: 3px;
  background: #99E2D0;
}
.cardsMenuList__content {
  display: flex;
  flex-flow: column;
  gap: 12px;
}
.cardsMenuList__content li {
  display: flex;
  position: relative;
  overflow: hidden;
  gap: 5px;
  padding: 13.5px 15px;
  max-width: 100%;
  box-sizing: border-box;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1019607843);
  border-radius: 15px;
  cursor: pointer;
  animation: animationFade 0.3s backwards;
}
.cardsMenuList__content li .dishDescription {
  display: inline-grid;
  flex-flow: column;
  flex-grow: 1;
  gap: 5px;
}
.cardsMenuList__content li .dishDescription .dishTitle {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: "roboto";
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  color: #000;
}
.cardsMenuList__content li .dishDescription .dishInfo {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: "roboto";
  font-size: 15px;
  font-weight: 300;
  line-height: 17px;
  color: #000;
}
.cardsMenuList__content li .dishPrice {
  align-self: flex-end;
  font-family: "roboto";
  font-size: 15px;
  font-weight: 700;
  line-height: 17px;
  color: #353535;
}
.cardsMenuList__content li::after {
  content: "\f058";
  font-family: "Font Awesome 6 Free";
  font-weight: 600;
  font-size: 20px;
  color: rgba(255, 255, 255, 0);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  right: -15px;
  top: -13.5px;
  height: calc(100% + 27px);
  width: 0px;
  background: #99E2D0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  transition: width 600ms ease, border-bottom-right-radius 100ms ease, color 500ms;
}
.cardsMenuList__content li:hover::after {
  width: 59px;
  color: white;
}

nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 38, 0.15);
}
nav a {
  position: absolute;
  display: flex;
  align-items: center;
  left: 23px;
}
nav img {
  width: 162px;
  max-height: 100%;
  padding: 20px 0px 12px 0px;
}
@media only screen and (min-width: 1024px) {
  nav img {
    width: 200px;
    padding: 30px 0px 32px 0px;
  }
}

.heart {
  stroke: none;
  stroke-width: 1px;
  cursor: pointer;
}
.heart path {
  fill-opacity: 1;
  transition: fill-opacity 400ms ease;
}
.heart:hover {
  stroke: #000;
}
.heart:hover path {
  fill-opacity: 0;
}
.heart--inactive {
  stroke: #000;
  stroke-width: 1px;
  cursor: pointer;
}
.heart--inactive path {
  fill-opacity: 0;
  transition: fill-opacity 400ms ease;
}
.heart--inactive :hover {
  stroke-width: 0px;
  fill-opacity: 1;
}

footer {
  display: flex;
  flex-flow: column;
  gap: 16px;
  padding: 25px 22px 22px 25px;
  background: #353535;
}
footer ul {
  display: flex;
  justify-content: flex-start;
  flex-flow: column;
  gap: 7px;
  margin: 0;
  padding: 0;
  list-style: none;
}
footer ul li {
  display: flex;
  align-items: baseline;
  gap: 17px;
  font-family: "roboto";
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  color: #FFFFFF;
}
footer ul li:nth-child(n+3) {
  font-weight: 400;
}
@media only screen and (min-width: 768px) {
  footer {
    align-items: center;
    padding: 25px 22px;
  }
  footer ul li {
    justify-content: center;
  }
}
@media only screen and (min-width: 1024px) {
  footer {
    flex-flow: row-reverse;
    align-items: baseline;
    padding: 62px 90px 30px 0px;
    gap: 90px;
  }
  footer ul {
    flex-flow: row;
  }
  footer ul li {
    gap: 10px;
  }
  footer ul li:nth-of-type(2) {
    padding-right: 45px;
  }
  footer ul li:nth-of-type(3) {
    padding-right: 10px;
  }
}

header {
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
}
header p {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 17px;
  padding: 15px 0px 15px 0px;
  width: 100%;
  font-family: "roboto";
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  color: #353535;
  background: #EAEAEA;
}
header .MenuBanner {
  max-height: 275px;
  max-width: 100%;
  object-fit: cover;
  background-position: center;
}
@media only screen and (min-width: 768px) {
  header .MenuBanner {
    max-height: 383px;
    z-index: 1;
  }
}

.loader {
  z-index: 100;
  position: fixed;
  width: 100%;
  height: 100vh;
  background: linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%);
  animation: loader 1s forwards;
}
.loader__container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.loader__container__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 200px;
  height: 40px;
  background-image: url("../../assets/images/logo/ohmyfood.png");
  background-repeat: no-repeat;
  background-size: contain;
  filter: invert(100%);
}
.loader__container__logo::before {
  content: "";
  position: absolute;
  width: 280px;
  height: 280px;
  border-radius: 50%;
  border: 7px solid transparent;
  border-top-color: #000;
  animation: spinning 800ms linear infinite;
}
.loader__container__logo::after {
  content: "";
  position: absolute;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 7px solid transparent;
  border-top-color: #000;
  animation: spinning 900ms linear reverse infinite;
}

.container {
  display: grid;
  grid-template-columns: 17px 1fr 17px;
  grid-template-rows: 1fr auto;
  position: relative;
}
@media only screen and (min-width: 1024px) {
  .container {
    grid-template-columns: minmax(17px, 1fr) minmax(17px, 1080px) minmax(17px, 1fr);
  }
}

.containerRestaurant {
  display: grid;
  grid-template-columns: 1fr minmax(17px, 1fr) minmax(auto, 634px) minmax(17px, 1fr) 1fr;
  grid-template-rows: 1fr auto;
  position: relative;
  z-index: 1;
  row-gap: 40px;
  margin-top: -50px;
  padding: 31px 0px 40px 0px;
  border-radius: 40px 40px 0px 0px;
  background: #F6F6F6;
}
@media only screen and (min-width: 768px) {
  .containerRestaurant {
    margin-top: inherit;
    padding: 0px 0px 40px 0px;
    grid-template-columns: minmax(17px, 1fr) minmax(17px, 211px) minmax(auto, 634px) minmax(17px, 211px) minmax(17px, 1fr);
    border-radius: inherit;
    background: none;
  }
  .containerRestaurant::before {
    grid-column: 2/5;
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    margin-top: -50px;
    width: 100%;
    height: calc(100% + 50px);
    background: #F6F6F6;
    border-radius: 40px 40px 0px 0px;
  }
}

.reservation {
  grid-column: 2/3;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 39px 0px 57px 0px;
}
.reservation p {
  font-family: "roboto";
  font-size: 18px;
  font-weight: 300;
  line-height: 21px;
  color: #000;
  margin-top: 17px;
  text-align: center;
  color: #353535;
}
.reservation .btn {
  margin-top: 27px;
}

.functioning {
  grid-column: 2/3;
  padding: 48px 0px 68px 0px;
  background: #FFFFFF;
}
.functioning::before {
  content: "";
  position: absolute;
  z-index: -1;
  grid-column: 1/4;
  grid-row: 2/3;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #FFFFFF;
}
.functioning ol {
  display: flex;
  align-items: flex-start;
  flex-flow: row wrap;
  gap: 25px;
  margin: 0;
  padding: 26px 0px 0px 12px;
  list-style: none;
  counter-reset: li;
}
.functioning ol li {
  position: relative;
  display: flex;
  align-items: center;
  gap: 20px;
  flex-basis: 100%;
  margin: 0;
  padding: 29px 38px 28px 37.5px;
  background: #F6F6F6;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
  border-radius: 20px;
  font-family: "roboto";
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  color: #000;
}
.functioning ol li::before {
  counter-increment: li;
  content: counters(li, ".") "";
  position: absolute;
  left: -12px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  width: 24px;
  border-radius: 100%;
  font-family: "roboto";
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: #FFFFFF;
  background: #9356DC;
  color: #FFFFFF;
}
@media only screen and (min-width: 1024px) {
  .functioning ol {
    padding: 26px 27px 0px 12px;
  }
  .functioning ol li {
    padding: 29px 38px 28px 33.5px;
    flex-basis: 21.1433%;
    flex-grow: 1;
  }
}

.restaurant {
  grid-column: 2/3;
  display: flex;
  flex-flow: column;
  gap: 26px;
  padding-top: 54px;
  padding-bottom: 66px;
}
@media only screen and (min-width: 1024px) {
  .restaurant {
    padding: 30px 0px;
  }
  .restaurant h2 {
    grid-column: 2/3;
  }
}

.restaurantName {
  grid-row: 1/2;
  grid-column: 3/4;
  display: flex;
  align-items: baseline;
  padding-right: 24px;
}
.restaurantName h2 {
  flex-grow: 1;
  font-family: "Shrikhand";
  font-size: 28px;
  font-weight: 400;
  line-height: 40px;
  color: #101010;
}
@media only screen and (min-width: 768px) {
  .restaurantName {
    justify-content: center;
    gap: 24px;
    padding-right: inherit;
  }
  .restaurantName h2 {
    flex-grow: inherit;
  }
}

.containerRestaurant .btn {
  grid-column: 3/4;
  justify-self: center;
  padding-left: 48px;
  padding-right: 48px;
}

/*# sourceMappingURL=style.css.map */
