@use "../utils" as *;

.reservation {
    display: flex;
    align-items: center;

    flex-direction: column;

    padding: 39px 17px 57px 17px;

    p {
        @include typography(roboto, medium, light, largeTextLH, dark);

        margin-top: 17px;
        text-align: center;

        color: color(grey);
    }

    .btn {
        margin-top: 27px;
    }
}

.functioning {
    padding: 48px 17px 68px 17px;

    background: map-get($color, white);

    ol {
        display: flex;
        justify-content: stretch;
        align-items: flex-start;
        flex-flow: row wrap;

        gap: 25px;

        margin: 0;
        padding: 26px 0px 0px 12px;

        list-style: none;
        
        counter-reset: li;

        li {
            position: relative;

            display: flex;
            justify-content: center;
            align-items: baseline;

            gap: 27px;

            flex-basis: 100%;

            margin: 0;
            padding: 29px 38px 28px 33px;

            background: color(white-sd); 
            box-shadow: 0px 4px 15px 0px #00000026;
            border-radius: 20px;

            @include typography(roboto, normal, medium, mediumTextLH,dark);

            &::before{
                counter-increment: li;
                content: counters(li, ".") "";

                position: absolute;

                left: -12px;

                display: flex;
                align-items: center;
                justify-content: center;

                height: 24px;
                width: 24px;

                border-radius: 100%;

                @include typography(roboto, extraSmall, medium, smallTextLH, white);

                background: color(purple);
                color: color(white);
            }
        }
    }
}

.restaurant{
    padding: 54px 17px 66px 17px;

    display: flex;
    align-items: flex-start;
    flex-direction: column;

    gap: 26px;
}