.reservation {
    display: flex;
    align-items: center;

    flex-direction: column;

    padding: 39px 17px 57px 17px;

    h1 {
        text-align: center;
    }

    p {
        margin-top: 17px;

        font-family: Roboto;
        font-size: 18px;
        font-weight: 300;
        line-height: 21px;
        letter-spacing: 0em;
        text-align: center;

    }

    .btn {
        margin-top: 27px;
    }
}

.functioning {
    padding: 48px 17px 68px 17px;

    background: $white;

    ol {
        display: flex;
        justify-content: stretch;
        align-items: flex-start;
        flex-flow: row wrap;

        gap: 25px;

        margin: 0;
        padding: 26px 0px 0px 12px;

        list-style: none;
        counter-reset: li;

        li {
            position: relative;

            display: flex;
            justify-content: center;
            align-items: baseline;

            gap: 27px;

            flex-basis: 100%;

            margin: 0;
            padding: 29px 38px 28px 33px;

            box-shadow: 0px 4px 15px 0px #00000026;
            border-radius: 20px;


            color: #000;
            font-family: Roboto;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;

            &::before{
                counter-increment: li;
                content: counters(li, ".") "";

                position: absolute;
                left: -12px;
                display: flex;
                align-items: center;
                justify-content: center;

                height: 24px;
                width: 24px;

                border-radius: 100%;
                background: $purple;
                color: $white;
            }
        }
    }

    @include breakpoints(mobile){
    
    }
    
    @include breakpoints(tablet){
        padding: 60px 180px 50px 180px;
    }

    @include breakpoints(desktop){

    }
}

.restaurant{
    padding: 54px 17px 66px 17px;

    display: flex;
    align-items: flex-start;
    flex-direction: column;

    gap: 26px;

    @include breakpoints(mobile){
    
    }

    @include breakpoints(tablet){
        padding: 30px 180px;
    }

    @include breakpoints(desktop){
        
    }
}