@use "../utils" as *;

.restaurantName{
    grid-row: 1 / 2;
    grid-column: 2 / 3;

    display: flex;
    align-items: center;
    justify-content: first baseline;

    padding-right: 24px;

    h2{
        flex-grow: 1;
        @include typography(shrikhand, title, normal, bigMenuTitleLH, dark-sm);
    }
}

.btn{
    grid-column: 2 / 3;
    justify-self: center;
}