$fontFamily : (
    roboto: "roboto",
    shrikhand : "Shrikhand"
);

$fontSize : (
    title : 28px,
    smallTitle: 24px,
    medium : 18px,
    extraNormal : 17px,
    normal : 16px,
    small : 15.04px,
    extraSmall : 14px
);

$fontWeight : (
    bold : 700,
    medium : 500,
    normal : 400,
    light : 300,
);

$lineHeight : (
    bigHomeTitleLH: 46.88px,
    bigMenuTitleLH : 40.82px,
    titleHomeLH : 28.13px,
    largeTextLH : 21.09px,
    extraMediumTextLH: 19.92px,
    mediumTextLH : 18.75px,
    normalTextLH : 17.63px,
    smallTextLH : 16.41px,
);