$purple : #9356DC;
$pink : #FF79DA;
$blue : #003A68;
$blue-light : #d5f0f8;
$green : #008766;
$green-light : #99E2D0;
$white : #FFFFFF;
$white-sm : #F3F3F3; // slightly smooth
$white-sd : #F6F6F6; //slightly darker
$grey-sm : #EAEAEA; // slightly smooth
$grey : #353535;
$dark : #000;
$dark-sm : #101010; // slightly smooth

$color: (
    purple : #9356DC,
    pink : #FF79DA,
    blue : #003A68,
    blue-light : #d5f0f8,
    green : #008766,
    green-light : #99E2D0,
    white : #FFFFFF,
    white-sm : #F3F3F3, 
    white-sd : #F6F6F6, 
    grey-sm : #EAEAEA, 
    grey : #353535,
    dark : #000,
    dark-sm : #101010);

@function color($colorName){
    @return map-get($color, $colorName);
}

// Responsive Info

$breakpoints: (
    mobile : 375px,
    tablet : 768px,
    desktop : 1024px);