$purple : #9356DC;
$pink : #FF79DA;
$blue : #003A68;
$blue-light : #d5f0f8;
$green : #008766;
$green-light : #99E2D0;
$white : #F3F3F3;
$white-sd : #F6F6F6; //slightly darker
$grey : #353535;
$dark : #000;
$dark-sm : #101010; // slightly smooth